@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Source+Serif+Pro:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 100%;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(
        to right,
        white 0%,
        white 70%,
        black 30%
    );
    /* z-index: 5; */
}


.navbar {
    width: 100%;
    display: flex;
    color: black;
    text-align: center;
    justify-content: space-between; 
    margin-top: 40px;
    align-items: center;
    font-family: inter;
    font-weight: 400;
}

.red {
    width: 70%;
    height: 1000%;
    background-color: red;
}

.black {
    background-color: black;
}


ul {
    display: flex;
    justify-content: space-around
}

.list {
    justify-content: space-between;
}

.list > li{
    margin-right: 46px;
    list-style: none;
    cursor: pointer;
}

.logo {
    width: 30px;
    height: 30px;
    color: #FF4213;
    background: #FF4213;
    border-radius: 50%;
    margin-right: 15px;
    border: 5px solid #D9D9D9;
}

.brand {
    display: flex;
    align-items: center;
    margin-left: 239px;      
}

.login button{
    width: 92px;
    display: flex;
    margin-right: 150px;
    border: none;
    border-radius: 80px ;
    padding: 13px 25px;  
    background-color: #FFFFFF;
    font-size: 15px;
}

.login  button a {
    border: none;
    color: #000000;
    text-decoration: none;
}

 /* Hero Section */

.delivery-service {
    display: flex ;
    margin-top: 50px;
    justify-content: space-around;
}

.delivery {
    max-width: 250px;
    padding:  10px 21px;
    border-radius: 20px;
    color: #FF4213;
    background: #FFECE8;
    font-size: 15px;

}

.food-taste{
    margin-top: 30px;
    color: #000000;
    font-size: 39px;
    font-weight: 600;
    line-height: 58.3px;
    
}

.best-cook {
    margin-top: 50px;
}
.play i {
    font-size: 25px;
    color: #30C5CE;
}
.btm {
    display: flex;
    margin-top: 80px;
   
}

.btm1 {
    width: 163px;
    display: flex;
    align-items: center;
    background: #0E0D0D;
    padding: 15px 35px;
    border-radius: 20px;
}

.btm1-content {
    margin-left: 8px;
}

.btm2 {
    width: 163px;
    background: #0E0D0D;
    padding: 15px 35px;
    border-radius: 20px;
    border-radius: 20px;
    margin-left: 50px;
}

.up {
    color: #FAEFEF; 
    font-size: 10px; 

}

.down {
    color: #FFFFFF;
    font-size: 12px;
    margin-top: 3px;
}

img {
    border-radius: 250px;
    position: absolute;
    right: 170px;
    z-index: 2;
}


/* footer */

.container{

    margin-top: 82px;
}

.discount {
    height: 223px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFECE8;
    background-color: #FF4213;
    padding-left: 205px;
}

.discount .left {
    margin-left: -80px;
   
}

.discount-btm {
    max-width: 155px;
    font-size: 12px;
    padding: 8px 22px;
    border-radius: 12px;
    color: #000000;
    background-color: #FAEFEF;
}



.free-shipping {
    font-size: 30px;
    margin-top: 25px;
}

.container .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    background-color: #000000;
    padding: 25px;
}

.lt{
    margin-right: 45px;
}

.get{
    font-size: 25px;
    font-weight: 600px;
}
.new-user{
    margin-bottom: 35px;
    color: #E9CDCD;
}

.new-user,
.get-it{
    font-size: 20px;
    font-weight: 400;
}

.get-it{
    background-color: #f5f5f5;
    color: #000000;
    padding: 10px 20px;
    margin-bottom: 45px;
    border-radius: 20px;
    cursor: pointer;
}
.date{
    color: #E9CDCD;
}

.terms,
.date,
.new-user{
    font-size: 16px;
    font-weight: 400;
}
.terms{
    color: #f5f5f5;
}
/* loginPage */

.logIn-container {
    display: flex;
}