@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Source+Serif+Pro:wght@300;400&display=swap");
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 100%;
    font-family: "Poppins", sans-serif;
}

.signIn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    padding: 0 195px;
}

/* .signIn-container {
    display: flex;
} */

.form-wrapper {
    width: 50%;
}

.image{
   width: 50%;
}
.image img {
    max-width: 100%;
}

.form-wrapper .title {
    margin-bottom: 80px;
    color: #000000;
}

.welcome {
    font-size: 30px;
    font-weight: 700;
}

.details {
    margin-top: 10px;
}

.form {
    width: 200px;
    margin-top: 45px;
    display: block;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
    font-size: medium;
    font-weight: 300;
    font-size: 15px;
}

.form .input-field input {
    width: 400px;
    height: 40px;
    margin-top: 10px;
}

.form .input-field input input {
    font-size: 35px;
}

.password {
    margin-top: 20px;
}

.checkbox {
    display: flex;
    margin-top: 10px;
}

.check-content .logCheck {
    color: red;
} 

#logCheck input {
    color: red;
}

.recover-password p {
    margin-left: 122px;
}

.sign-in button {
    margin-top: 50px;  
    display: flex;
    justify-content: center;
    padding: 10px 140px;   
    background-color: #d43710;
    border-radius: 10px;  
    border-style: none;  
}

/* .create-in button {
    margin-top: 50px;  
    display: flex;
    justify-content: center;
    padding: 10px 130px;   
    background-color: #d43710;
    border-radius: 10px;  
    border-style: none;  
}  */

.sign-in button a {
    border: none;
    font-size: 15px;
    color: #ffff;
    text-decoration: none;  
}

.lastText {
    margin-top: 45px;
    font-size: 15px;
}

.lastText span {
    color: #D43710;
    opacity: 0.4;
    font-weight: 500;
}

/* SignIn */

/* .signIn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    padding: 20px 84px;
    padding: 0 195px;
} */

.Create {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 4px;
}

.name {
    margin-bottom: 20px;
}